@charset "utf-8";
body{
    background-color: rgb(66, 14, 25);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
td > button{
    width: 150px;
    height: 50px;
    border-color: white;
    background-color: white;
}
td > button:hover{
    background-color: white;
    border-color: greenyellow;
    box-shadow: none;
}

section{
    background-color: rgb(224, 220, 220);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}

div > p{
    padding: 0px;
    text-align: left;
    font: normal 13pt Arial;
    margin: 10pt;
}

div > p > input{
    width: 200px;
    height: 20px;
}

div > button{
    width: 300px;
    height: 40px;
    background-color: rgb(240, 85, 85);
    border-color: white;
    border-radius: 5pt;
    color: white;
    font: normal 18pt Arial;
    box-shadow: none;
}
div > button:hover{
    background-color: rgb(36, 0, 3);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}